.searchResults{
    margin:1em;
    width:50%;
}
.searchHr{
    margin-bottom: 1em;
}
.searchTitle{
    font-size: 2em;
    font-weight: bold;
}
.searchList{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
}